<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>

    <bean id="myTeacher"
          class="legendSoft.JavaStudent"/>

    <bean id="myPythonStudent"
          class="legendSoft.PythonStudent">
        <property name="name" value="${pythonStudent.name}"/>
        <property name="age" value="${pythonStudent.age}"/>
        <property name="email" value="${pythonStudent.email}"/>
        <property name="phoneNumber" value="${pythonStudent.phoneNumber}"/>
        <property ref="myTeacher" name="teacher"/>

    </bean>

    <!--      <bean id="myPythonStudent"-->
    <!--            class="legendSoft.PythonStudent">-->
    <!--            <constructor-arg name="name" value="Asan"/>-->
    <!--            <constructor-arg name="age" value="18"/>-->
    <!--            <constructor-arg name="email" value="asan@gmail.com"/>-->
    <!--            <constructor-arg name="phoneNumber" value="+996777552244"/>-->
    <!--            <constructor-arg ref="myTeacher"/>-->
    <!--      </bean>-->
</beans>